# Extract and normalize contact information using Regex

In [1]:
import pandas as pd
import requests
import re

In [2]:
names = ['Axel Magnusson', 'Evelina Eriksson', 'Evelina Eriksson', 'Martin Skog', 'Gustaf']
email = ['Axel@gmail.com', 'Evelina@gmail.com', 'EvlinaEriksson@gmail.com', 'Martin@gmail.com', 'Gustafgmail.com']
tel = ['070-1234567', '0734-55 66 77', '08 123 45 67', '0709876543', '1234']

In [3]:
df = pd.DataFrame({
    "name": names,
    "email": email,
    "tel": tel
})

df

               name                     email            tel
0    Axel Magnusson            Axel@gmail.com    070-1234567
1  Evelina Eriksson         Evelina@gmail.com  0734-55 66 77
2  Evelina Eriksson  EvlinaEriksson@gmail.com   08 123 45 67
3       Martin Skog          Martin@gmail.com     0709876543
4            Gustaf           Gustafgmail.com           1234

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    5 non-null      object
 1   email   5 non-null      object
 2   tel     5 non-null      object
dtypes: object(3)
memory usage: 252.0+ bytes

In [5]:
random_user = df.sample()
text = (
    f"Call me, {random_user.iloc[0]['name']}, "
    f"on my phone number {random_user.iloc[0]['tel']} "
    f"or email me at {random_user.iloc[0]['email']}."
)
text

'Call me, Axel Magnusson, on my phone number 070-1234567 or email me at Axel@gmail.com.'

## Validering av telefonnummer

In [6]:
text = re.sub(r'\+46\s*0?', '0', text) 
pattern = r'(?=(?:\D*\d){7,13}\D*$)\d(?:[ \-]?\d)+'
swe_phone_nr = re.findall(pattern, text)

def format_swedish_number(raw):
    '''Remove all non numbers'''
    digits = re.sub(r'\D', '', raw) # pattern, replacement, string

    '''Phone numbers 070, 072, 073, 076, 079'''
    if re.match(r'07[02369]', digits):
        return f''

if swe_phone_nr == []:
    print(f"{random_user.iloc[0]['name']}'s phone number is not valid")
else: 
    print(f"{random_user.iloc[0]['name']}'s number is {swe_phone_nr}")

Axel Magnusson's number is ['070-1234567']

## Validering av email

In [7]:
at = '@'
pattern_email = re.findall(at, text) 
pattern_email

['@']